In [1]:
%pip install pandas numpy matplotlib seaborn nltk string re scikit-learn

Requirement already satisfied: pandas in c:\users\cf79a965fbdd\appdata\local\programs\python\python310\lib\site-packages (1.5.2)
Requirement already satisfied: numpy in c:\users\cf79a965fbdd\appdata\local\programs\python\python310\lib\site-packages (1.22.2)
Requirement already satisfied: matplotlib in c:\users\cf79a965fbdd\appdata\local\programs\python\python310\lib\site-packages (3.6.2)
Requirement already satisfied: seaborn in c:\users\cf79a965fbdd\appdata\local\programs\python\python310\lib\site-packages (0.12.1)
Requirement already satisfied: nltk in c:\users\cf79a965fbdd\appdata\local\programs\python\python310\lib\site-packages (3.8)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement string (from versions: none)
ERROR: No matching distribution found for string

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')
df = df.head(10000)

In [4]:
df.fillna('')
df['content'] = df['author'] + ' ' + df['title'] + ' ' + df['text']

In [5]:
df = df.drop(['text', 'author', 'title'],axis=1)

In [6]:
df.head()

   id  label                                            content
0   0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1   1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2   2      1  Consortiumnews.com Why the Truth Might Get You...
3   3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4   4      1  Howard Portnoy Iranian woman jailed for fictio...

In [7]:
df.groupby('label').describe()

           id
        count         mean          std  min      25%     50%      75%     max
label
0      4996.0  5011.581465  2872.394399  1.0  2540.50  5048.0  7486.25  9998.0
1      5004.0  4987.437850  2901.538342  0.0  2460.75  4948.5  7515.25  9999.0

In [8]:
from text_processor import count_vectorize, id_transformer

In [9]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
all_words = count_vectorize(df)
bow = all_words.transform(df['content'].values.astype('U'))
id_transformer = id_transformer(bow)
trained_id = id_transformer.transform(bow)
X_train, X_test, y_train, y_test = train_test_split(trained_id, df['label'], test_size=0.33, random_state=42)

model = MultinomialNB().fit(X_train, y_train)

In [10]:

from sklearn.metrics import classification_report
all_predictions = model.predict(X_test)
print (classification_report(y_test, all_predictions))

              precision    recall  f1-score   support

           0       0.68      1.00      0.81      1631
           1       1.00      0.54      0.70      1669

    accuracy                           0.77      3300
   macro avg       0.84      0.77      0.75      3300
weighted avg       0.84      0.77      0.75      3300

In [11]:

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [12]:
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
print (classification_report(y_test, lr_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98      1631
           1       0.98      0.97      0.98      1669

    accuracy                           0.98      3300
   macro avg       0.98      0.98      0.98      3300
weighted avg       0.98      0.98      0.98      3300

In [13]:
test = pd.read_csv('train.csv')

In [14]:
test = test.tail(10)
test.fillna('')
test['content'] = test['author'] + ' ' + test['title'] + ' ' + test['text']

In [15]:
test = test.drop(['text', 'author', 'title', 'label'],axis=1)

In [16]:
bow = all_words.transform(test['content'].values.astype('U'))
trained_id_new = id_transformer.transform(bow)

In [17]:
print(lr.predict(trained_id_new))

[0 1 0 1 0 0 0 0 1 1]