In [1]:
%pip install pandas numpy matplotlib seaborn nltk string re scikit-learn

Requirement already satisfied: pandas in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (1.3.3)
Requirement already satisfied: numpy in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (1.21.2)
Requirement already satisfied: matplotlib in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (3.4.3)
Requirement already satisfied: seaborn in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (0.12.1)
Requirement already satisfied: nltk in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (3.8)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement string (from versions: none)
ERROR: No matching distribution found for string

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')
df = df.head(100)

In [4]:
df.fillna('')
df['content'] = df['author'] + ' ' + df['title'] + ' ' + df['text']

In [5]:
df = df.drop(['text', 'author', 'title'],axis=1)

In [6]:
df.head()

   id  label                                            content
0   0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1   1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2   2      1  Consortiumnews.com Why the Truth Might Get You...
3   3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4   4      1  Howard Portnoy Iranian woman jailed for fictio...

In [7]:
df.groupby('label').describe()

         id
      count       mean        std  min   25%   50%   75%   max
label
0      55.0  51.127273  29.872603  1.0  27.0  48.0  78.5  99.0
1      45.0  47.511111  28.128457  0.0  23.0  51.0  69.0  96.0

In [8]:
from text_processor import process_bow, id_bow

In [9]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
bow = process_bow(df)
trained_id = id_bow(bow)
X_train, X_test, y_train, y_test = train_test_split(trained_id, df['label'], test_size=0.33, random_state=42)

model = MultinomialNB().fit(X_train, y_train)

In [10]:

from sklearn.metrics import classification_report
all_predictions = model.predict(X_test)
print (classification_report(y_test, all_predictions))

              precision    recall  f1-score   support

           0       0.64      1.00      0.78        18
           1       1.00      0.33      0.50        15

    accuracy                           0.70        33
   macro avg       0.82      0.67      0.64        33
weighted avg       0.81      0.70      0.65        33

In [11]:

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [12]:
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
print (classification_report(y_test, lr_pred))

              precision    recall  f1-score   support

           0       0.64      1.00      0.78        18
           1       1.00      0.33      0.50        15

    accuracy                           0.70        33
   macro avg       0.82      0.67      0.64        33
weighted avg       0.81      0.70      0.65        33

In [13]:
test = pd.read_csv('train.csv')

In [14]:
test = test.tail(1)
test.fillna('')
test['content'] = test['author'] + ' ' + test['title'] + ' ' + test['text']

In [15]:
test = test.drop(['text', 'author', 'title', 'label'],axis=1)

In [16]:
%pip install scipy

Requirement already satisfied: scipy in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (1.7.1)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\fiqi2\appdata\local\programs\python\python39\lib\site-packages (from scipy) (1.21.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import scipy

In [27]:
print(X_train.shape)
print(X_test.shape)
test.shape

(67, 14042)
(33, 14042)

(1, 2)

In [20]:
print(process_bow(test))

  (0, 0)	1
  (0, 1)	2
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	2
  (0, 7)	1
  (0, 8)	1
  (0, 9)	2
  (0, 10)	1
  (0, 11)	1
  (0, 12)	1
  (0, 13)	1
  (0, 14)	1
  (0, 15)	3
  (0, 16)	2
  (0, 17)	1
  (0, 18)	1
  (0, 19)	1
  (0, 20)	2
  (0, 21)	1
  (0, 22)	1
  (0, 23)	1
  (0, 24)	1
  :	:
  (0, 479)	2
  (0, 480)	1
  (0, 481)	1
  (0, 482)	1
  (0, 483)	1
  (0, 484)	1
  (0, 485)	1
  (0, 486)	1
  (0, 487)	1
  (0, 488)	3
  (0, 489)	1
  (0, 490)	1
  (0, 491)	2
  (0, 492)	1
  (0, 493)	1
  (0, 494)	1
  (0, 495)	1
  (0, 496)	1
  (0, 497)	1
  (0, 498)	3
  (0, 499)	1
  (0, 500)	1
  (0, 501)	1
  (0, 502)	3
  (0, 503)	1